#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

main{
  margin: 0 auto;
  padding: 20px;
}

.search-section {
  display: flex;
  align-items: start;
  flex-direction: column;
}