h1{
    color: var(--black-neutral);
}

/* Search */
select {
    padding: 12px 16px;
    border: 1px solid var(--gray-10);
    border-radius: 8px;
    background-color: var(--white);
    color: var(--black-neutral);
}

input[type="search"] {
    flex: 1;
    padding: 12px 16px;
    padding-right: 40px; /* Add space for the icon */
    border: 1px solid var(--gray-10);
    border-radius: 8px;
    background-color: var(--white);
    color: var(--black-neutral);
}

input[type="search"]::placeholder {
    color: #999;
}

.search-container::after {
    content: url("/Employee/Search/search.svg");
    position: absolute;
    right: 16px;
    top: 10px;
    pointer-events: none;
    color: var(--gray-10)
}