table {
    border-collapse: collapse;
    border-radius: 8px;
    margin-top: 20px;
    overflow: hidden;
}

thead {
    background-color: var(--blue-primary);
    color: var(--white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

th {
    padding: 10px 0px;
    border: none;
}

td {
    padding: 0;
    background-color: var(--white);
}

@media only screen and (max-width: 510px) {
    .omit-on-mobile {
        display: none;
    }
}

@media only screen and (min-width: 511px) {
    .omit-on-desktop {
        display: none;
    }
}