table {
    border-collapse: collapse; /* Remove white lines between columns */
    border-radius: 8px;
    margin-top: 20px;
    overflow: hidden; /* Ensure rounded corners are visible */
}

thead {
    background-color: var(--blue-primary);
    color: var(--white);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

th, td {
    padding: 0;
    border: none; /* Remove borders from table cells */
}